/* Base editor and front-end tweaks */
a {
  text-underline-offset: 0.15em;
}

.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wp-site-blocks > main {
  flex: 1 0 auto;
}

body.home {
  --aegis-header-main-h: 64px;
}

body.home .aegis-hero {
  margin-top: calc(-1 * var(--aegis-header-main-h) - 1px);
}

body.home .aegis-mega-header {
  position: relative;
  z-index: 50;
}
