html {
    overflow-x: clip;
}

html, body {
    -webkit-text-size-adjust: 100%;
}

html.has-modal-open {
    overflow: auto;
}
.wp-block-navigation__responsive-container.has-modal-open {
    overscroll-behavior: contain;
}

.wp-site-blocks > *,
.is-root-container > *,
.is-root-container.wp-site-blocks > * {
    margin-top: 0;
}

/* Remove outline from active forms elements */
*:focus {
    outline: none;
}

/* Adjusting default styles */
mark {
    background-color: rgba(0, 0, 0, 0);
}

/* Prevent small images from changing their vertical position due to to line-height change */
.wp-block-image a,
.wp-block-image img {
    display: block;
}


/* Navigation */

.wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
    padding-block: .5rem;
}

.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
    height: 30px;
    width: 30px;
}

.wp-block-navigation__responsive-container.is-menu-open {
    padding: clamp(1rem, var(--wp--style--root--padding-top), 20rem) clamp(1rem, var(--wp--style--root--padding-right), 20rem) clamp(1rem, var(--wp--style--root--padding-bottom), 20rem) clamp(1rem, var(--wp--style--root--padding-left), 20em);
}

.wp-block-navigation__responsive-container.is-menu-open {
    padding: clamp(1rem, 5vw, 20rem) clamp(1rem, var(--wp--style--root--padding-right), 20rem) clamp(1rem, 5vw, 20rem) clamp(1rem, var(--wp--style--root--padding-right), 20rem) !important;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    padding-top: calc(1rem + 24px);
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
    gap: 1rem;
    padding-block: 1.5rem 0.5rem;
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__container,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
    gap: 1rem;
}

/* Buttons */
.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color):not(.has-background):hover {
    background-color: transparent;
    color: var(--wp--preset--color--bbe-primary-500);
    border-color: var(--wp--preset--color--bbe-primary-500, var(--wp--preset--color--contrast, currentColor));
}

/*.wp-block-button.is-style-bbe-secondary-500 > .wp-block-button__link:not(.has-text-color):not(.has-background):hover {*/
/*    background-color: var(--wp--preset--color--bbe-secondary-600);*/
/*}*/
.wp-block-button.is-style-style-6 > .wp-block-button__link:not(.has-text-color):not(.has-background):hover {
    color: var(--wp--preset--color--bbe-primary-700);
    border-color: transparent;
}


/* Search */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.wp-block-search__label.wp-block-search__label {
    display: block;
    line-height: 1em;
    padding-bottom: .75em;
}

.wp-block-search__input.wp-block-search__input {
    border-radius: 5px;
    padding-inline: .9em;
    padding-block: .5em;
    line-height: 1.6em;
    height: calc(2.6em + 2px);
    color: inherit;
    background: transparent;
}

.wp-block-search__button.wp-block-search__button {
    border-radius: 5px;
    padding-inline: 1.25em;
    padding-block: .5em;
    line-height: 1.6em;
    margin-left: .8em;
}

.wp-block-search__button.has-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: calc(2.6em + 2px);
    width: calc(2.6em + 2px);
}

.wp-block-search__button.has-icon svg {
    height: 1.8em;
    width: 1.8em;
    min-height: auto;
    min-width: auto;
}

.wp-block-search.wp-block-search__button-only .wp-block-search__input {
    margin-right: .8em;
}

.wp-block-search.wp-block-search__button-only.wp-block-search__searchfield-hidden .wp-block-search__input {
    margin-right: 0;
}

.wp-block-social-links, .wp-block-social-links.has-normal-icon-size {
    font-size: 24px;
}
.wp-block-social-links.has-bbe-small-icon-size {
    font-size: 18px;
}
.wp-block-social-links.has-bbe-large-icon-size {
    font-size: 32px;
}
.wp-block-social-links.has-huge-icon-size {
    font-size: 38px;
}
