<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Page Title"},"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"0"},"border":{"radius":"0px"},"elements":{"link":{"color":{"text":"var:preset|color|bbe-neutral-300"}},"heading":{"color":{"text":"var:preset|color|bbe-neutral-000"}}}},"backgroundColor":"bbe-primary-950","textColor":"bbe-neutral-300","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-bbe-neutral-300-color has-bbe-primary-950-background-color has-text-color has-background has-link-color" style="border-radius:0px;padding-top:0;padding-bottom:0"><!-- wp:group {"metadata":{"name":"Title Min Width + Vertical Paddings"},"style":{"dimensions":{"minHeight":"0px"},"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|bbe-130","bottom":"var:preset|spacing|bbe-130"}}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"center"}} -->
<div class="wp-block-group" style="min-height:0px;padding-top:var(--wp--preset--spacing--bbe-130);padding-bottom:var(--wp--preset--spacing--bbe-130)"><!-- wp:post-title {"textAlign":"center","fontSize":"bbe-title-2"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Content Wrapper"},"style":{"spacing":{"blockGap":"var:preset|spacing|bbe-80","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|bbe-150","bottom":"var:preset|spacing|bbe-150"}},"dimensions":{"minHeight":"0px"}},"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background" style="min-height:0px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--bbe-150);padding-bottom:var(--wp--preset--spacing--bbe-150)"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->