.the7-e-tabs-wrapper,
.the7-e-tabs-wrapper .the7-e-tab-title,
.the7-e-tabs-wrapper .the7-e-tab-title .the7-e-tab-title-text,
.the7-e-tabs-wrapper .the7-e-tab-content,
.the7-e-tabs-wrapper .the7-e-tabs-nav .elementor-icon,
.the7-e-tabs-wrapper .the7-e-tabs-nav-wrapper .the7-e-tab-nav-button {
    transition: all 0.3s ease;
}

.the7-e-tabs-wrapper,
.elementor-widget-the7-tabs.the7-e-accordion .the7-e-tabs-content{
    display: flex;
    flex-direction: column;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical .the7-e-tabs-wrapper{
    flex-direction: row;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical .the7-e-tab-item-wrapper{
    display: initial;
}
.elementor-widget-the7-tabs.the7-e-tabs-view-vertical:not(.the7-e-accordion) .the7-e-tab-item-wrapper .the7-e-tab-content{
    height:100%;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal .the7-e-tabs-nav {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.elementor-widget-the7-tabs.the7-e-tabs-nav-justify-fullwidth.the7-e-tabs-view-horizontal .the7-e-tabs-nav-wrapper .the7-e-tab-title {
    flex: 1 1 0;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal .the7-e-tabs-nav-wrapper.display-nav .the7-e-tabs-nav {
    width: fit-content;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical .the7-e-tabs-nav-wrapper {
    width: 25%;
    flex-shrink: 0;
}


.the7-e-tabs-wrapper .the7-e-tabs-nav {
    display: flex;
    flex-direction: row;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical .the7-e-tabs-nav {
    flex-direction: column;
}

.the7-e-tabs-wrapper .the7-e-tab-title > .elementor-icon {
    border-style: solid;
    border-width: 0;
    font-size: 24px;
}

.the7-e-tabs-wrapper .the7-e-tabs-nav .elementor-icon svg {
    transition: all 0.3s ease;
}

.elementor-widget-the7-tabs .the7-e-tab-title{
    --icon-title-spacing: 10px;
    --icon-title-margin: 0 0 0 var(--icon-title-spacing);
    outline:  none;
}

.elementor-widget-the7-tabs .the7-e-tab-title > .elementor-icon {
    margin: var(--icon-title-margin);
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal:not(.widget-divider-yes) .the7-e-tabs-nav > div:first-of-type,
.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal.widget-divider-yes:not(.widget-divider-first-yes) .the7-e-tabs-nav > div:first-of-type {
    margin-left: 0 !important;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal:not(.widget-divider-yes) .the7-e-tabs-nav > div:last-of-type,
.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal.widget-divider-yes:not(.widget-divider-last-yes) .the7-e-tabs-nav > div:last-of-type {
    margin-right: 0 !important;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical:not(.widget-divider-yes) .the7-e-tabs-nav > div:first-of-type,
.elementor-widget-the7-tabs.the7-e-tabs-view-vertical.widget-divider-yes:not(.widget-divider-first-yes) .the7-e-tabs-nav > div:first-of-type,
.elementor-widget-the7-tabs:not(.widget-divider-yes).the7-e-accordion .the7-e-tabs-content > div:first-of-type,
.elementor-widget-the7-tabs.widget-divider-yes.the7-e-accordion:not(.widget-divider-first-yes) .the7-e-tabs-content > div:first-of-type {
    margin-top: 0 !important;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical:not(.widget-divider-yes) .the7-e-tabs-nav > div:last-of-type,
.elementor-widget-the7-tabs.the7-e-tabs-view-vertical.widget-divider-yes:not(.widget-divider-last-yes) .the7-e-tabs-nav > div:last-of-type,
.elementor-widget-the7-tabs:not(.widget-divider-yes).the7-e-accordion .the7-e-tabs-content > div:last-of-type,
.elementor-widget-the7-tabs.widget-divider-yes.the7-e-accordion:not(.widget-divider-last-yes) .the7-e-tabs-content > div:last-of-type,
.elementor-widget-the7-tabs.the7-e-accordion:not(.widget-divider-last-yes) .the7-e-tabs-content > div:last-of-type .the7-e-tab-content{
    margin-bottom: 0 !important;
}

.the7-e-tabs-wrapper .item-divider {
    display: none;
    color: var(--the7-divider-color);
}

.the7-e-tabs-wrapper .item-divider {
    justify-content: center;
}

.the7-e-tabs-wrapper .item-divider:after {
    align-self: center;
    content: "";
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal .the7-e-tabs-nav .item-divider:after {
    height: 100%;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-vertical:not(.the7-e-accordion) .the7-e-tabs-nav .item-divider:after,
.elementor-widget-the7-tabs.the7-e-accordion .the7-e-tabs-content .item-divider:after {
    width: 100%;
}

.the7-e-tabs-wrapper .the7-e-tabs-nav-wrapper {
    position: relative;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal .the7-e-tabs-nav-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
}

.the7-e-tabs-wrapper .the7-e-tabs-nav-scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.the7-e-tabs-wrapper .the7-e-tab-title {
    position: relative;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0;
}

.the7-e-tabs-wrapper .the7-e-tab-title .the7-e-tab-title-text{
    color: var(--the7-title-color);
    margin-bottom: 0;
}

.the7-e-tabs-wrapper .the7-e-tab-title.active .the7-e-tab-title-text,
.the7-e-tabs-wrapper .the7-e-tab-title:hover .the7-e-tab-title-text{
    color: var(--the7-accent-color);
}

.the7-e-tabs-wrapper .the7-e-tabs-content{
    width: 100%;
}

.the7-e-tabs-wrapper .the7-e-tabs-content .the7-e-tab-title {
    display: none;
}

.the7-e-tabs-wrapper .the7-e-tab-content {
    display: none;
    border-style: solid;
    border-width: 0;
    outline: none;
}
.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal .the7-e-tab-content{
    margin-top: 30px;
}

.elementor-widget-the7-tabs.the7-e-tabs-view-horizontal .the7-e-tabs-nav .the7-e-tab-title:not(:first-child):not(:last-child) {
    margin-left: calc(30px/2);
    margin-right: calc(30px/2);
}

.the7-e-tabs-wrapper .the7-e-tabs-content .the7-e-tab-content {
    opacity: 0;
}

.the7-e-tabs-wrapper .the7-e-tabs-content .the7-e-tab-content.active {
    opacity: 1;
}

.elementor-widget-the7-tabs.the7-e-accordion .the7-e-tabs-nav-wrapper,
.elementor-widget-the7-tabs .the7-e-tabs-nav-wrapper:not(.display-nav) .the7-e-tab-nav-button {
    display: none;
}

.elementor-widget-the7-tabs.the7-e-accordion .the7-e-tabs-content .the7-e-tab-title {
    display: flex;
}

.the7-e-tabs-wrapper .the7-e-tabs-nav-wrapper .the7-e-tab-nav-button {
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.the7-e-tabs-wrapper .the7-e-tabs-nav-wrapper .the7-e-tab-nav-button:hover {
    background: rgba(0, 0, 0, 0.3);
}

.the7-e-tabs-wrapper .the7-e-tabs-nav-wrapper .the7-e-tab-nav-button.left-button {
    left: 0px;
}

.the7-e-tabs-wrapper .the7-e-tabs-nav-wrapper .the7-e-tab-nav-button.right-button {
    right: 0px;
}

.the7-e-tabs-wrapper .hidden {
    visibility: hidden;
    display: block !important;
}

.the7-e-tabs-wrapper .the7-e-tab-nav-button.right-button:after {
    -webkit-mask: url(../../../images/a-r.svg);
    mask-image: url(../../../images/a-r.svg);
    -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      mask-position: center center;
      mask-size: 16px;
}

.the7-e-tabs-wrapper .the7-e-tab-nav-button.left-button:after {
    -webkit-mask: url(../../../images/a-l.svg);
  mask-image: url(../../../images/a-l.svg);
  -webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
    mask-size: 16px;
}

.the7-e-tabs-wrapper .the7-e-tab-nav-button:after {
    /* font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    line-height: 1; */
    /*font-family: 'icomoon-the7-font';*/
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
