.elementor-widget-the7-banner {
  transition: opacity 0.3s;
}

.elementor-widget-the7-banner .elementor-widget-container {
  position: relative;
}

.elementor-widget-the7-banner .elementor-widget-container > .close-button-container {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.elementor-widget-the7-banner .elementor-widget-container > .close-button-container .elementor-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  block-size: fit-content;
  border: none;
  background: none;
  z-index: calc(var(--z-index, 1) + 1);
}

.elementor-widget-the7-banner .elementor-widget-container > .close-button-container .elementor-icon i,
.elementor-widget-the7-banner .elementor-widget-container > .close-button-container .elementor-icon svg {
  transition: all 0.3s;
}
