.elementor-widget-the7-woocommerce-product-images-list {
  --offset-v-m-img: 50%;
  --offset-v-t-img: 0px;
  --top-b-img: 100%;
  --offset-v-b-img: 0px;
  --arrow-v-offset: 0px;
  --arrow-h-offset: 0px;
  --thumbs-offset-v-m-img: 50%;
  --thumbs-offset-v-t-img: 0px;
  --thumbs-offset-v-b-img: 0px;
  --thumbs-arrow-v-offset: 0px;
  --thumbs-arrow-h-offset: 0px;
}
.elementor-widget-the7-woocommerce-product-images-list.one-product-img {
  --overflow-x: hidden !important;
}
.elementor-widget-the7-woocommerce-product-images-list .gallery-swiper {
  position: relative;
  height: 100%;
}
.elementor-widget-the7-woocommerce-product-images-list:not(.layout-slider) {
  overflow: hidden;
}
.elementor-widget-the7-woocommerce-product-images-list .dt-product-gallery {
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.4);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.6);
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
  overflow-x: var(--overflow-x, hidden);
  overflow-y: var(--overflow-y, hidden);
}
.elementor-widget-the7-woocommerce-product-images-list .the7-scrollbar:hover {
  scrollbar-color: var(--scrollbar-thumb-hover-color) transparent;
}
.elementor-widget-the7-woocommerce-product-images-list .the7-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.elementor-widget-the7-woocommerce-product-images-list .the7-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: var(--scrollbar-thumb-color);
}
.elementor-widget-the7-woocommerce-product-images-list .the7-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}
.elementor-widget-the7-woocommerce-product-images-list .product-list-wrap {
  display: grid;
  grid-auto-flow: var(--grid-auto-flow, unset);
  grid-auto-columns: var(--grid-auto-columns, 100%);
  grid-template-columns: var(--grid-template-columns, repeat(var(--grid-columns), 1fr));
  align-items: center;
}
.elementor-widget-the7-woocommerce-product-images-list.one-product-img .product-list-wrap {
  grid-template-areas: "img1";
  grid-template-columns: 1fr;
}
.elementor-widget-the7-woocommerce-product-images-list .the7-image-wrapper {
  position: relative;
  display: flex;
  transition: all 0.3s;
}
.elementor-widget-the7-woocommerce-product-images-list .the7-image-wrapper img {
  transition: all 0.3s;
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(1) {
  grid-area: var(--img-grid-area, var(--grid-area-img1));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(2) {
  grid-area: var(--img-grid-area, var(--grid-area-img2));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(3) {
  grid-area: var(--img-grid-area, var(--grid-area-img3));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(4) {
  grid-area: var(--img-grid-area, var(--grid-area-img4));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(5) {
  grid-area: var(--img-grid-area, var(--grid-area-img5));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(6) {
  grid-area: var(--img-grid-area, var(--grid-area-img6));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(7) {
  grid-area: var(--img-grid-area, var(--grid-area-img7));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(8) {
  grid-area: var(--img-grid-area, var(--grid-area-img8));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(9) {
  grid-area: var(--img-grid-area, var(--grid-area-img9));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(10) {
  grid-area: var(--img-grid-area, var(--grid-area-img10));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(11) {
  grid-area: var(--img-grid-area, var(--grid-area-img11));
}
.elementor-widget-the7-woocommerce-product-images-list.alternation-yes .the7-grid-item:nth-child(12) {
  grid-area: var(--img-grid-area, var(--grid-area-img12));
}
.elementor-widget-the7-woocommerce-product-images-list .post-thumbnail-rollover:before,
.elementor-widget-the7-woocommerce-product-images-list .post-thumbnail-rollover:after,
.elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay:before,
.elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
  border-radius: inherit;
}
.elementor-widget-the7-woocommerce-product-images-list .post-thumbnail-rollover:after,
.elementor-widget-the7-woocommerce-product-images-list .the7-image-wrapper:hover .post-thumbnail-rollover:before,
.elementor-widget-the7-woocommerce-product-images-list .the7-image-wrapper:hover .the7-video-overlay:before,
.elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay:after {
  opacity: 0;
}
.elementor-widget-the7-woocommerce-product-images-list .post-thumbnail-rollover:before,
.elementor-widget-the7-woocommerce-product-images-list .the7-image-wrapper:hover .post-thumbnail-rollover:after,
.elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay:before,
.elementor-widget-the7-woocommerce-product-images-list .the7-image-wrapper:hover .the7-video-overlay:after {
  opacity: 1;
}
.elementor-widget-the7-woocommerce-product-images-list .gallery-video-wrap {
  aspect-ratio: var(--the7-img-ratio);
  position: relative;
  width: 100%;
  z-index: 3;
}
.elementor-widget-the7-woocommerce-product-images-list video,
.elementor-widget-the7-woocommerce-product-images-list iframe {
  position: var(--position, static);
  top: 0;
  left: 0;
  width: var(--the7-img-width, inherit);
  height: var(--the7-img-height, auto);
  max-width: var(--the7-img-max-width, 100%);
  max-height: var(--the7-img-max-height);
  object-fit: var(--the7-img-object-fit, cover);
  aspect-ratio: var(--the7-img-ratio, auto);
  border-radius: inherit;
  transition: 0.3s ease;
}
.elementor-widget:not(.video-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list video,
.elementor-widget:not(.video-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list iframe,
body[data-elementor-device-mode="mobile"] .video-autoplay-yes:not(.video-mobile-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list video,
body[data-elementor-device-mode="mobile"] .video-autoplay-yes:not(.video-mobile-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list iframe {
  opacity: 0;
}
.elementor-widget:not(.video-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .playing-video video,
.elementor-widget:not(.video-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .playing-video iframe,
body[data-elementor-device-mode="mobile"] .video-autoplay-yes:not(.video-mobile-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .playing-video video,
body[data-elementor-device-mode="mobile"] .video-autoplay-yes:not(.video-mobile-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .playing-video iframe {
  opacity: 1;
}
.elementor-widget-the7-woocommerce-product-images-list iframe {
  max-height: 100%;
  background-color: #000000;
  aspect-ratio: var(--the7-img-ratio, 1.77777778);
}
.elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: var(--the7-img-object-fit, contain);
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
  border-radius: inherit;
  transition: 0.3s ease;
  z-index: 4;
}
.elementor-widget:not(.video-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay {
  opacity: 1;
}
body[data-elementor-device-mode="desktop"] .video-autoplay-yes:not(.video-mobile-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay,
body[data-elementor-device-mode="desktop"] .video-autoplay-yes.video-mobile-autoplay-yes.elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay {
  display: none;
}
body[data-elementor-device-mode="mobile"] .video-autoplay-yes:not(.video-mobile-autoplay-yes).elementor-widget-the7-woocommerce-product-images-list .the7-video-overlay {
  display: block;
}
.elementor-widget-the7-woocommerce-product-images-list .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  z-index: 2;
  transition: all 0.3s;
  cursor: pointer;
}
.elementor-widget-the7-woocommerce-product-images-list .play-icon i {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.75);
}
.elementor-widget-the7-woocommerce-product-images-list .play-icon svg {
  transition: fill 0.3s, color 0.3s;
  color: rgba(255, 255, 255, 0.75);
  fill: rgba(255, 255, 255, 0.75);
}
/*Lighbox*/
.pswp .video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100%;
}
.pswp .video-wrapper video,
.pswp .video-wrapper iframe {
  max-width: 100vw;
  max-height: 100vh;
}
.pswp .video-wrapper iframe {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  aspect-ratio: 1.77777778;
}
