.elementor-widget-the7-woocommerce-product-price {
  --sale-price-spacing: 3px;
}
.elementor-widget-the7-woocommerce-product-price .price {
  display: flex;
  align-items: center;
  column-gap: var(--sale-price-spacing);
  row-gap: var(--sale-price-spacing);
  transition: all 300ms ease;
  margin-bottom: 0;
  color: var(--the7-base-color);
  font-family: var(--the7-woo-content-font-family);
  font-size: var(--the7-h5-font-size-desktop);
}
.elementor-widget-the7-woocommerce-product-price .price span,
.elementor-widget-the7-woocommerce-product-price .price ins,
.elementor-widget-the7-woocommerce-product-price .price ins span {
  color: var(--the7-title-color);
}
.elementor-widget-the7-woocommerce-product-price .price del {
  text-decoration: line-through !important;
}
.elementor-widget-the7-woocommerce-product-price .price del,
.elementor-widget-the7-woocommerce-product-price .price del span {
  color: var(--the7-secondary-text-color);
}
.elementor-widget-the7-woocommerce-product-price.elementor-product-price-block-yes .price {
  flex-flow: row wrap;
}
.elementor-widget-the7-woocommerce-product-price.elementor-product-price-block-yes .price del,
.elementor-widget-the7-woocommerce-product-price.elementor-product-price-block-yes .price ins {
  width: 100%;
}
