.elementor-widget-the7_svg_image_widget .elementor-widget-container {
  line-height: 0;
}
.elementor-widget-the7_svg_image_widget .the7-svg-wrapper {
  position: relative;
  display: inline-flex;
  width: var(--svg-width, 100%);
  height: var(--height, auto);
  max-width: var(--image-size, 100%);
  transition: all 0.3s ease;
}
.elementor-widget-the7_svg_image_widget .the7-svg-wrapper span {
  width: 100%;
  transition: background 0.3s ease;
  -webkit-mask-image: url(../../../images/art-default.svg);
  mask-image: url(../../../images/art-default.svg);
  -webkit-mask-repeat: var(--mask-repeat, no-repeat);
  mask-repeat: var(--mask-repeat, no-repeat);
  -webkit-mask-position: var(--mask-position, center center);
  mask-position: var(--mask-position, center center);
  -webkit-mask-size: var(--mask-size, auto auto);
  mask-size: var(--mask-size, auto auto);
  background: var(--the7-divider-color);
}
.elementor-widget-the7_svg_image_widget .the7-svg-wrapper img {
  visibility: hidden;
  max-height: 100%;
}
