.elementor-widget-the7-slider-common {
  --arrow-display: inline-flex;
  --bullet-display: inline-flex;
  --arrow-opacity: 1;
  --arrow-icon-size: 25px;
  --arrow-translate-x: 0px;
  --arrow-translate-y: -50%;
  --arrow-v-offset: 0px;
  --arrow-h-offset: 10px;
  --bullet-translate-x: 0px;
  --bullet-translate-y: -50%;
  --bullet-v-offset: 0px;
  --bullet-h-offset: 0px;
  --slide-height: 100%;
  --bullet-size: 10px;
  --bullet-gap: 10px;
  --bullet-color: var(--the7-title-color);
  --bullet-hover-color: var(--the7-accent-color);
  --bullet-active-color: var(--bullet-hover-color);
  --bullet-border-width: 2px;
  --bullet-half-size: calc(var(--bullet-size) / 2);
  --slide-transition-speed: 500ms;
  --arrow-color: var(--the7-title-color);
  opacity: 0;
  transition: opacity 200ms;
  -webkit-transform: translate3d(0, 0, 0);
}

.elementor-widget-the7-slider {
  --bullet-color: #fff;
  --arrow-color: #fff;
}

div.elementor-widget-the7-slider-common {
  display: block;
}

.elementor-widget-the7-slider-common .the7-swiper-slide-inner {
  min-height: 100%;
}

.elementor-widget-the7-slider-common .swiper-container {
  overflow: hidden;
}

.elementor-widget-the7-slider-common
  .the7-swiper-slide-inner
  > .the7-slide-content {
  width: 100%;
  min-height: 100%;
}

.elementor-widget-the7-slider-common .swiper-pagination {
  z-index: 10;
  display: var(--bullet-display);
  justify-content: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  top: 50%;
  bottom: auto;
  width: auto;
  transform: translate3d(
    var(--bullet-translate-x),
    var(--bullet-translate-y),
    0
  );
}
.elementor-widget-the7-slider-common .owl-dots {
  gap: var(--bullet-gap, 10px);
}
.elementor-widget-the7-slider-common.bullets-custom.bullets-stretch-y .owl-dots {
  width: 100%;
}


.elementor-widget-the7-slider-common .swiper-pagination .owl-dot {
  flex-grow: var(--bullet-flex-grow, initial);
  cursor: pointer;
  width: var(--bullet-size);
  height: var(--bullet-size);
}
.elementor-widget-the7-slider-common.bullets-custom .owl-dot {
  width: 30px;
  height: 5px;
  background-color: var(--bullet-color, var(--the7-accent-color));
  transition: all 0.3s;
}

.elementor-widget-the7-slider-common .the7-swiper-button {
  position: absolute;
  display: var(--arrow-display);
  z-index: 1;
  cursor: pointer;
  color: var(--arrow-color);
  opacity: var(--arrow-opacity);
  justify-content: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  transform: translate3d(var(--arrow-translate-x), var(--arrow-translate-y), 0);
  transition: all 0.3s;
  top: calc(50% + var(--arrow-v-offset));
  --arrow-translate-y: -50%;
}

.elementor-widget-the7-slider-common .the7-swiper-button > i {
  font-size: var(--arrow-icon-size);
  transition: all 0.3s;
}

.elementor-widget-the7-slider-common .the7-swiper-button > svg {
  width: var(--arrow-icon-size);
  height: var(--arrow-icon-size);
  transition: fill 0.3s, color 0.3s;
  fill: var(--arrow-color);
  color: var(--arrow-color);
}

.elementor-widget-the7-slider-common .the7-swiper-button:hover {
  color: var(--the7-accent-color);
}

.elementor-widget-the7-slider-common .the7-swiper-button:hover > svg {
  fill: var(--the7-accent-color);
  color: var(--the7-accent-color);
}

.elementor-widget-the7-slider-common
  .the7-swiper-button.swiper-button-disabled {
  opacity: 0 !important;
  cursor: auto;
  pointer-events: none;
}

.elementor-widget-the7-slider-common
  .elementor-slides-wrapper:hover
  > .the7-swiper-button {
  opacity: 1;
}

.elementor-widget-the7-slider-common .the7-swiper-button-prev {
  left: var(--arrow-h-offset);
  --arrow-translate-x: 0;
}
.elementor-widget-the7-slider-common .the7-swiper-button-next {
  left: calc(100% - var(--arrow-h-offset));
  --arrow-translate-x: -100%;
}

.elementor-widget-the7-slider-common
  .the7-elementor-slides
  .the7-swiper-slide-inner {
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.elementor-widget-the7-slider-common .the7-swiper-slide {
  display: flex;
  flex-direction: column;
}

.elementor-widget-the7-slider-common .the7-slider-error-template {
  color: black;
  background: #fff;
  align-self: center;
  font-size: 26px;
}

.elementor-widget-the7-slider-common
  .the7-slide-content
  > .elementor-section-wrap {
  height: var(--slide-height);
  display: flex;
  flex-direction: column;
}

.elementor-widget-the7-slider-common
  .the7-slide-content
  > .elementor-section-wrap:before,
.elementor-widget-the7-slider-common
  .the7-slide-content
  > .elementor-inner
  > .elementor-section-wrap:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.elementor-widget-the7-slider-common .the7-hidden {
  visibility: hidden;
}

/*bullet specific styles*/

.elementor-widget-the7-slider-common
  .bullets-scale-up
  .owl-dot:not(.active):not(:hover)
  span,
  .elementor-widget-the7-slider-common.bullets-scale-up.owl-carousel
  .owl-dot:not(.active):not(:hover)
  span  {
  background: var(--bullet-color);
}

.elementor-widget-the7-slider-common
  .bullets-scale-up
  .owl-dot:not(.active):hover
  span,
  .elementor-widget-the7-slider-common.bullets-scale-up.owl-carousel
  .owl-dot:not(.active):hover
  span {
  background: var(--bullet-hover-color);
}

.elementor-widget-the7-slider-common .bullets-scale-up .owl-dot.active span,
.elementor-widget-the7-slider-common.bullets-scale-up.owl-carousel .owl-dot.active span {
  background: var(--bullet-active-color);
}

.elementor-widget-the7-slider-common
  .bullets-stroke
  .owl-dot:not(.active):not(:hover)
  span,
  .elementor-widget-the7-slider-common.bullets-stroke.owl-carousel
  .owl-dot:not(.active):not(:hover)
  span {
  background: var(--bullet-color);
}

.elementor-widget-the7-slider-common
  .bullets-stroke
  .owl-dot:not(.active):hover
  span,
  .elementor-widget-the7-slider-common.bullets-stroke.owl-carousel
  .owl-dot:not(.active):hover
  span {
  background: var(--bullet-hover-color);
}
.elementor-widget-the7-slider-common .bullets-stroke .owl-dot.active span,
.elementor-widget-the7-slider-common.bullets-stroke.owl-carousel .owl-dot.active span {
  box-shadow: 0 0 0 var(--bullet-border-width) var(--bullet-active-color) !important;
}

.elementor-widget-the7-slider-common
  .bullets-fill-in
  .owl-dot:not(.active):not(:hover)
  span,
  .elementor-widget-the7-slider-common.bullets-fill-in.owl-carousel
  .owl-dot:not(.active):not(:hover)
  span {
  box-shadow: inset 0 0 0 var(--bullet-border-width) var(--bullet-color) !important;
}

.elementor-widget-the7-slider-common
  .bullets-fill-in
  .owl-dot:not(.active):hover
  span,
  .elementor-widget-the7-slider-common.bullets-fill-in.owl-carousel
  .owl-dot:not(.active):hover
  span {
  box-shadow: inset 0 0 0 var(--bullet-border-width) var(--bullet-hover-color);
}
.elementor-widget-the7-slider-common .bullets-fill-in .owl-dot.active span,
.elementor-widget-the7-slider-common.bullets-fill-in.owl-carousel .owl-dot.active span {
  box-shadow: inset 0 0 0 calc(var(--bullet-border-width) + 10px)
    var(--bullet-active-color);
}

.elementor-widget-the7-slider-common
  .bullets-small-dot-stroke
  .owl-dot:not(.active):not(:hover)
  span,
  .elementor-widget-the7-slider-common.bullets-small-dot-stroke.owl-carousel
  .owl-dot:not(.active):not(:hover)
  span  {
  background: var(--bullet-color);
}

.elementor-widget-the7-slider-common
  .bullets-small-dot-stroke
  .owl-dot:not(.active):hover
  span,
  .elementor-widget-the7-slider-common.bullets-small-dot-stroke.owl-carousel
  .owl-dot:not(.active):hover
  span {
  background: var(--bullet-hover-color);
}

.elementor-widget-the7-slider-common
  .bullets-small-dot-stroke
  .owl-dot.active
  span,
  .elementor-widget-the7-slider-common.bullets-small-dot-stroke.owl-carousel .owl-dot.active span {
  background: var(--bullet-active-color);
}

.elementor-widget-the7-slider-common .bullets-small-dot-stroke .owl-dot.active,
.elementor-widget-the7-slider-common.bullets-small-dot-stroke.owl-carousel .owl-dot.active {
  box-shadow: 0 0 0 var(--bullet-border-width) var(--bullet-active-color);
}

.elementor-widget-the7-slider-common .bullets-ubax .owl-dot span,
.elementor-widget-the7-slider-common.bullets-ubax.owl-carousel .owl-dot span {
  background: var(--bullet-color);
  border-width: min(var(--bullet-half-size), var(--bullet-border-width));
}

.elementor-widget-the7-slider-common .bullets-ubax .owl-dot.active span,
.elementor-widget-the7-slider-common.bullets-ubax.owl-carousel .owl-dot.active span {
  border-color: var(--bullet-active-color);
}

.elementor-widget-the7-slider-common
  .bullets-ubax
  .owl-dot:not(.active):hover
  span,
  .elementor-widget-the7-slider-common.bullets-ubax.owl-carousel
  .owl-dot:not(.active):hover
  span {
  background: var(--bullet-hover-color);
}

.elementor-widget-the7-slider-common .bullets-etefu .owl-dot span,
.elementor-widget-the7-slider-common.bullets-etefu.owl-carousel .owl-dot span {
  background: var(--bullet-color);
}

.elementor-widget-the7-slider-common
  .bullets-etefu
  .owl-dot:not(.active):hover
  span,
  .elementor-widget-the7-slider-common.bullets-etefu.owl-carousel
  .owl-dot:not(.active):hover
  span {
  background: var(--bullet-hover-color);
}

.elementor-widget-the7-slider-common .bullets-etefu .owl-dot span:before,
.elementor-widget-the7-slider-common.bullets-etefu.owl-carousel .owl-dot span:before {
  background: var(--bullet-active-color);
}

.elementor-widget-the7-slider-common .bullets-etefu .owl-dot span:before {
  opacity: 0;
  transition: opacity var(--slide-transition-speed);
  transform: translate3d(0, 0, 0);
}

.elementor-widget-the7-slider-common
  .bullets-etefu
  .owl-dot.active
  span:before {
  opacity: 1;
}

.elementor-widget-the7-slider-common .bullets-etefu {
  --bullet-border-width: 5px;
}

.elementor-widget-the7-slider-common .bullets-etefu .owl-dot span {
  height: var(--bullet-border-width, 5px) !important;
  border-radius: 0 !important;
}

/*end of specific bullet styles*/

.elementor-widget-the7-slider-common .e-loop-empty-view__wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 30px 0;
}

.elementor-widget-the7-slider-common.elementor-in-place-template-editable
  .swiper,
.elementor-widget-the7-slider-common.elementor-in-place-template-editable
  .swiper-container {
  overflow: visible;
  overflow-x: clip;
}

.elementor-widget-the7-slider-common.elementor-in-place-template-editable
  .swiper-wrapper
  > .swiper-slide-active {
  overflow: initial;
}
.elementor-editor-active .elementor-widget-the7-slider-common .swiper-initialized .swiper-wrapper {
  overflow: initial;
}
div[class*="elementor-widget-loop"]
  .swiper-slide-active
  > .the7-swiper-slide-inner
  > .elementor-edit-area-active {
  border: 1px solid #fcb92c;
  width: 100%;
}

.elementor-slides-wrapper
  .the7-elementor-slides
  div:not(.the7-swiper-slide)
  > .swiper-slide-inner {
  display: none;
}

.elementor-widget-the7-slider-common .the7-swiper-slide {
  will-change: transform;
  border-style: solid;
  border-width: 0;
  transition-duration: 0.5s;
  transition-property: border, background, transform;
  overflow: hidden;

  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.elementor-widget-the7-slider-common
  .the7-swiper-slide:not(:hover)
  .e-overlay-animation-fade {
  opacity: 0;
}
.elementor-widget-the7-slider-common
  .the7-swiper-slide:not(:hover)
  .e-overlay-animation-slide-up {
  transform: translateY(100%);
}
.elementor-widget-the7-slider-common
  .the7-swiper-slide:not(:hover)
  .e-overlay-animation-slide-down {
  transform: translateY(-100%);
}
.elementor-widget-the7-slider-common
  .the7-swiper-slide:not(:hover)
  .e-overlay-animation-slide-right {
  transform: translateX(-100%);
}
.elementor-widget-the7-slider-common
  .the7-swiper-slide:not(:hover)
  .e-overlay-animation-slide-left {
  transform: translateX(100%);
}
.elementor-widget-the7-slider-common
  .the7-swiper-slide:not(:hover)
  .e-overlay-animation-zoom-in {
  transform: scale(0.5);
  opacity: 0;
}

.swiper-container .the7-swiper-slide figure,
.swiper .the7-swiper-slide figure {
  line-height: 0;
}

.swiper-container-no-flexbox .the7-swiper-slide,
.swiper-no-flexbox .the7-swiper-slide {
  float: left;
}

.swiper-container-android .the7-swiper-slide,
.swiper-android .the7-swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-container-autoheight .the7-swiper-slide,
.swiper-autoheight .the7-swiper-slide {
  height: auto;
}

/* Fade */
.swiper-container-fade.swiper-container-free-mode .the7-swiper-slide,
.swiper-fade.swiper-container-free-mode .the7-swiper-slide {
  transition-timing-function: ease-out;
}
.swiper-container-fade .the7-swiper-slide,
.swiper-fade .the7-swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}
.swiper-container-fade .the7-swiper-slide .the7-swiper-slide,
.swiper-fade .the7-swiper-slide .the7-swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-fade .swiper-slide-active .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.elementor-widget-the7-slider-common .e-loop-item:hover {
  z-index: 1;
}
