.elementor-popup-modal .the7-product-filter .filter-nav,
.elementor-popup-modal .the7-product-filter .filter-header,
.the7-product-filter .filter-nav,
.the7-product-filter .filter-header {
	margin: 0;
}

.the7-product-attr-filter .filter-show-more span {
	color: var(--the7-accent-color);
}

.the7-product-filter.collapsible .filter-header,
.the7-product-attr-filter .filter-show-more{
	cursor: pointer;
}

.the7-product-filter.collapsible .filter-container{
	margin-top: 10px;
	transition: opacity 0.5s ease;
}

.the7-product-filter .filter-container{
	overflow-x: auto !important;
}
.elementor-widget-the7-woocommerce-filter-attribute .filter-nav-item .elementor-icon {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}
.elementor-widget-the7-woocommerce-filter-attribute .filter-nav-item.active .elementor-icon,
.elementor-widget-the7-woocommerce-filter-attribute .filter-nav-item-container:hover .elementor-icon {
	visibility: visible;
	opacity: 1;
}
.elementor-widget-the7-woocommerce-filter-attribute .the7-filter-swatch .elementor-icon {
	color: #fff;
}
.elementor-widget-the7-woocommerce-filter-attribute .the7-filter-swatch .elementor-icon svg {
	fill: #fff;
    color: #fff;
}
.the7-product-filter .the7-filter-swatch[style="background-color:#ffffff"] {
	border: 1px solid var(--the7-divider-color);
}
.the7-product-filter .the7-filter-swatch[style="background-color:#ffffff"] .elementor-icon,
.the7-product-attr-filter .empty-swatch .the7-filter-swatch .elementor-icon {
	-webkit-filter: invert(100%);
    filter: invert(100%);
}
.the7-product-filter .filter-nav-item .filter-nav-item-container .indicator{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	max-width: 100%;
}
.filter-indicator-align-left  .filter-nav-item-container .the7-filter-swatch + .name {
	margin-left: var(--swatch-indicator-space, 5px);
}
.filter-indicator-align-top .filter-nav-item-container .the7-filter-swatch + .name {
	margin-top: var(--swatch-indicator-space, 5px);
}
.the7-product-filter .name .count {
	transition: color 0.3s;
	margin-left: 3px;
}
.the7-product-filter:not(.closed) .filter-toggle-icon .filter-toggle-closed,
.the7-product-filter.closed .filter-toggle-icon .filter-toggle-active,
.the7-product-attr-filter.anim-off-normal-indicator .filter-nav-item:not(.active) .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-attr-filter.anim-off-normal-indicator .filter-nav-item:not(.active) .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-attr-filter.anim-off-active-indicator .filter-nav-item.active .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-attr-filter.anim-off-active-indicator .filter-nav-item.active .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-attr-filter.anim-disp-normal-indicator .filter-nav-item:not(.active) .filter-nav-item-container .indicator .indicator-hover,
.the7-product-attr-filter.anim-disp-active-indicator .filter-nav-item.active .filter-nav-item-container .indicator .indicator-hover,
.the7-product-act-filter.anim-off-active-indicator .filter-nav-item.active .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-act-filter.anim-off-active-indicator .filter-nav-item.active .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-act-filter.anim-off-clear_all-indicator .filter-nav-item.clear-all .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-act-filter.anim-off-clear_all-indicator .filter-nav-item.clear-all .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-act-filter.anim-disp-active-indicator .filter-nav-item.active .filter-nav-item-container .indicator .indicator-hover,
.the7-product-act-filter.anim-disp-clear_all-indicator .filter-nav-item.clear-all .filter-nav-item-container .indicator .indicator-hover{
	display: none;
}

/*animate transition indicator*/
.the7-product-attr-filter.anim-trans-normal-indicator .filter-nav-item:not(.active) .indicator .elementor-icon,
.the7-product-attr-filter.anim-trans-active-indicator .filter-nav-item.active .indicator .elementor-icon,
.the7-product-act-filter.anim-trans-active-indicator .filter-nav-item.active .indicator .elementor-icon,
.the7-product-act-filter.anim-trans-clear_all-indicator .filter-nav-item.clear-all .indicator .elementor-icon {
	overflow: hidden;
}

.the7-product-attr-filter.anim-trans-normal-indicator .filter-nav-item:not(.active) .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-attr-filter.anim-trans-normal-indicator .filter-nav-item:not(.active) .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-attr-filter.anim-trans-active-indicator .filter-nav-item.active .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-attr-filter.anim-trans-active-indicator .filter-nav-item.active .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-act-filter.anim-trans-active-indicator .filter-nav-item.active .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-act-filter.anim-trans-active-indicator .filter-nav-item.active .filter-nav-item-container:hover .indicator .indicator-normal,
.the7-product-act-filter.anim-trans-clear_all-indicator .filter-nav-item.clear-all .filter-nav-item-container:not(:hover) .indicator .indicator-hover,
.the7-product-act-filter.anim-trans-clear_all-indicator .filter-nav-item.clear-all .filter-nav-item-container:hover .indicator .indicator-normal{
	opacity: 0;
	position: absolute;
	z-index: -1000;
}

.the7-product-filter .filter-header {
	justify-content: space-between;
}

.the7-product-filter .filter-header,
.the7-product-filter .filter-header .filter-toggle-icon,
.the7-product-filter .filter-nav-item-container,
.the7-product-filter .filter-nav-item-container a {
	display: flex;
	align-items: center;
}
.the7-product-filter .filter-nav > li {
	max-width: 100%;
}
.the7-product-filter .filter-nav-item-container {
	cursor: pointer;
	border-color: var(--the7-divider-color);
	overflow: hidden;
	max-width: 100%;
	transition: all 0.3s ease;
}
.the7-product-filter .filter-nav-item-container a {
	max-width: 100%;
	width: 100%;
	justify-content: var(--attribute-align-content);
}
.the7-product-filter .filter-nav-item-container a.isset-swatch {
	justify-content: var(--attribute-align-content);
	align-items: var(--attribute-align-content);
}
.filter-indicator-align-left .the7-product-filter .filter-nav-item-container a.isset-swatch {
	align-items: center;
}

.the7-product-filter .filter-nav-item-container a,
.the7-product-filter .filter-nav-item-container,
.the7-product-filter .filter-nav-item-container .indicator {
	color: var(--the7-base-color);
}

.the7-product-filter .filter-header .filter-title,
.the7-product-filter .filter-header .filter-toggle-icon .elementor-icon {
	color: var(--the7-h1-color);
}
.the7-product-filter .filter-nav-item-container,
.the7-product-filter .filter-nav-item-container .indicator {
	border-style: solid;
	border-width: 0;
}

.the7-product-filter .filter-nav-item-container .indicator {
	border-width: 1px;
	border-color: var(--the7-divider-color);
	padding: 3px;
	max-width: 100%;
	margin-right: 5px;
}

.the7-product-filter .filter-nav-item-container .indicator .elementor-icon {
	font-size: 10px;
	color: var(--the7-accent-color);
}
.the7-product-attr-filter .the7-filter-swatch {
	display: inline-flex;
    justify-content: center;
    align-items: center;
	padding: 1px 2px;
	min-width: 20px;
	min-height: 20px;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}
.the7-product-filter .filter-nav-item-container .the7-filter-swatch .elementor-icon {
	font-size: 14px;
}
.the7-product-attr-filter .empty-swatch .the7-filter-swatch {
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 2px, transparent 2px, transparent 4px);
}

.the7-product-filter.filter-navigation-scroll .filter-container.show-scroll {
	overflow-y: scroll !important;
	padding-right: 10px;
}

html:not(.touchevents) .the7-product-filter .filter-container::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

html:not(.touchevents) .the7-product-filter .filter-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

html:not(.touchevents) .the7-product-filter .filter-container::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.the7-product-filter.animate .elementor-icon svg,
.the7-product-filter.animate .elementor-icon i,
.the7-product-filter.animate .filter-title,
.the7-product-filter.animate .filter-header,
.the7-product-filter .selected-attr-number {
	transition: all 0.3s ease, font-size 0s ease;
}


.the7-product-filter{
	visibility: visible !important;
}

.the7-product-filter .filter-nav-item-container .name {
	display: flex;
	transition: color 0.3s;
	/* flex: 1 1 0px; */
}