.elementor-owl-carousel-call .owl-nav {
  display: var(--arrow-display, inline-flex);
  opacity: var(--arrow-opacity, 1);
  transition: all 0.3s;
}
.elementor-owl-carousel-call .owl-nav > div {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  top: calc(50% + var(--arrow-v-offset, 0) + var(--offset-v-t-img));
  --arrow-translate-y: -50%;
  transform: translate3d(var(--arrow-translate-x, 0), var(--arrow-translate-y), 0);
}
.elementor-owl-carousel-call .owl-nav > div:focus,
.elementor-owl-carousel-call .owl-nav > div:focus-visible {
  outline: 1px solid var(--the7-accent-color);
}
.elementor-owl-carousel-call .owl-nav > div i {
  font-size: var(--arrow-icon-size);
  transition: color 0.3s;
}
.elementor-owl-carousel-call .owl-nav > div i:before {
  color: inherit;
}
.elementor-owl-carousel-call .owl-nav > div svg {
  width: var(--arrow-icon-size);
  height: auto;
  transition: fill 0.3s, color 0.3s;
}
.elementor-owl-carousel-call .owl-nav .owl-prev {
  left: var(--arrow-h-offset, 10px);
  --arrow-translate-x: 0;
}
.elementor-owl-carousel-call .owl-nav .owl-next {
  left: calc(100% - var(--arrow-h-offset, 10px));
  --arrow-translate-x: -100%;
}
.elementor-owl-carousel-call:hover .owl-nav {
  opacity: 1;
}
.elementor-owl-carousel-call:not(:hover) .owl-nav {
  transition-delay: 650ms;
}
.elementor-owl-carousel-call .owl-dots {
  display: var(--bullet-display, inline-flex);
  gap: var(--bullet-gap, 10px);
  opacity: var(--bullet-opacity, 1);
  transform: translate3d(var(--bullet-translate-x, 0), var(--bullet-translate-y, -50%), 0);
  transition: all 0.3s;
}
.bullets-custom.bullets-stretch-y .elementor-owl-carousel-call .owl-dots {
  width: 100%;
}
.elementor-owl-carousel-call .owl-dots .owl-dot {
  flex-grow: var(--bullet-flex-grow, initial);
  width: var(--bullet-size);
  height: var(--bullet-size);
}
.bullets-custom .elementor-owl-carousel-call .owl-dots .owl-dot {
  width: 30px;
  height: 5px;
  background-color: var(--bullet-color, var(--the7-accent-color));
  border-color: var(--the7-accent-color);
  transition: all 0.3s;
}
.elementor-owl-carousel-call:hover .owl-dots {
  opacity: 1;
}
/*bullet specific styles*/
div.bullets-scale-up .elementor-owl-carousel-call .owl-dot:not(.active):not(:hover) span {
  background: var(--bullet-color, var(--the7-accent-color));
}
div.bullets-scale-up .elementor-owl-carousel-call .owl-dot:not(.active):hover span {
  background: var(--bullet-hover-color, var(--the7-accent-color));
}
div.bullets-scale-up .elementor-owl-carousel-call .owl-dot.active span {
  background: var(--bullet-active-color, var(--the7-accent-color));
}
div.bullets-stroke .elementor-owl-carousel-call .owl-dot:not(.active):not(:hover) span {
  background: var(--bullet-color, var(--the7-accent-color));
}
div.bullets-stroke .elementor-owl-carousel-call .owl-dot:not(.active):hover span {
  background: var(--bullet-hover-color, var(--the7-accent-color));
}
div.bullets-stroke .elementor-owl-carousel-call .owl-dot.active span {
  box-shadow: 0 0 0 var(--bullet-border-width, 2px) var(--bullet-active-color, var(--the7-accent-color)) !important;
}
div.bullets-fill-in .elementor-owl-carousel-call .owl-dot:not(.active):not(:hover) span {
  box-shadow: inset 0 0 0 var(--bullet-border-width, 2px) var(--bullet-color, var(--the7-accent-color)) !important;
}
div.bullets-fill-in .elementor-owl-carousel-call .owl-dot:not(.active):hover span {
  box-shadow: inset 0 0 0 var(--bullet-border-width, 2px) var(--bullet-hover-color, var(--the7-accent-color));
}
div.bullets-fill-in .elementor-owl-carousel-call .owl-dot.active span {
  box-shadow: inset 0 0 0 calc(var(--bullet-border-width, 2px) + 10px) var(--bullet-active-color, var(--the7-accent-color));
}
div.bullets-small-dot-stroke .elementor-owl-carousel-call .owl-dot:not(.active):not(:hover) span {
  background: var(--bullet-color, var(--the7-accent-color));
}
div.bullets-small-dot-stroke .elementor-owl-carousel-call .owl-dot:not(.active):hover span {
  background: var(--bullet-hover-color, var(--the7-accent-color));
}
div.bullets-small-dot-stroke .elementor-owl-carousel-call .owl-dot.active span {
  background: var(--bullet-active-color, var(--the7-accent-color));
}
div.bullets-small-dot-stroke .elementor-owl-carousel-call .owl-dot.active {
  box-shadow: 0 0 0 var(--bullet-border-width, 2px) var(--bullet-active-color, var(--the7-accent-color));
}
div.bullets-ubax .elementor-owl-carousel-call .owl-dot span {
  background: var(--bullet-color, var(--the7-accent-color));
  border-width: min(calc(var(--bullet-size)/2), var(--bullet-border-width, 2px));
}
div.bullets-ubax .elementor-owl-carousel-call .owl-dot.active span {
  border-color: var(--bullet-active-color, var(--the7-accent-color));
}
div.bullets-ubax .elementor-owl-carousel-call .owl-dot:not(.active):hover span {
  background: var(--bullet-hover-color, var(--the7-accent-color));
}
div.bullets-etefu .elementor-owl-carousel-call .owl-dot span {
  background: var(--bullet-color, var(--the7-accent-color));
  border-radius: 0 !important;
}
div.bullets-etefu .elementor-owl-carousel-call .owl-dot:not(.active):hover span {
  background: var(--bullet-hover-color, var(--the7-accent-color));
}
div.bullets-etefu .elementor-owl-carousel-call .owl-dot span:before {
  background: var(--bullet-active-color, var(--the7-accent-color));
}
div.bullets-etefu .elementor-owl-carousel-call .owl-dot span:before {
  opacity: 0;
  transition: opacity 0.5s;
  transform: translate3d(0, 0, 0);
}
div.bullets-etefu .elementor-owl-carousel-call .owl-dot.active span:before {
  opacity: 1;
}
div.bullets-etefu .elementor-owl-carousel-call {
  --bullet-border-width: 5px;
}
div.bullets-etefu .elementor-owl-carousel-call .owl-dot span {
  height: var(--bullet-border-width, 100%) !important;
}
/*end of specific bullet styles*/
