.elementor-widget-the7-image-ticker-widget {
  display: inline-flex;
}
@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - var(--ticker-gap)));
  }
}
.elementor-widget-the7-image-ticker-widget .elementor-widget-container {
  width: 100%;
}
.elementor-widget-the7-image-ticker-widget .the7-ticker {
  position: relative;
  overflow-x: hidden;
  display: flex;
  transform: translateX(var(--grid-x-offset, 0));
  transition: transform 0.6s linear;
}
.elementor-widget-the7-image-ticker-widget .the7-ticker-content {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  --delay: 0s;
  animation: ticker var(--transition-speed, 30s) linear var(--delay) infinite;
  animation-play-state: var(--play);
  animation-delay: var(--delay);
}
.elementor-widget-the7-image-ticker-widget .the7-ticker-content img {
  transition: all 0.3s;
  border-color: var(--the7-divider-color);
}
.elementor-widget-the7-image-ticker-widget .post-thumbnail-rollover:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 1;
  z-index: 1;
}
.elementor-widget-the7-image-ticker-widget .post-thumbnail-rollover:hover:before {
  opacity: 0;
}
.elementor-widget-the7-image-ticker-widget .post-thumbnail-rollover:hover:after {
  opacity: 1;
}
.pause_animation-yes.elementor-widget-the7-image-ticker-widget .the7-ticker:hover {
  --grid-x-offset: -6px;
}
.pause_animation-yes.elementor-widget-the7-image-ticker-widget .the7-ticker:hover .the7-ticker-content {
  animation-play-state: paused;
}
